ul {
  display: flex;
}
li {
  list-style-type: none;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  width: 120px;
  height: 130px;
}
.main-card {
  width: 240px;
  height: 220px;
}
.hovered {
  border: 5px solid yellow;
}
.cards {
  justify-content: center;
}